body {
    background-color: hsl(0, 0%, 95%);
}

.header {
    position: relative;
    margin-bottom: 1rem;
    /* padding-block: 0.4rem 3rem; */
    /* padding-inline: 0.8rem; */
    /* background: url(images/Background.jpg); */
    /* background-size: 100%; */
}

.header img {
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 1rem;
    left: 2rem;
    margin: 0;
}

.suspects img {
    height: 30rem;
    width: auto;
    margin: 1rem;
}

.navMenu ul {
    display: flex;
    flex-flow: row wrap;
    gap: 0rem;
    margin: 0;
    padding: 0;
}

.navMenu li {
    display: contents;
}

.navMenu a {
    padding: 0.3rem 1rem;
    text-decoration: none;
    color: hsl(0, 0%, 10%);
    background-color: hsl(0, 0%, 85%);
    border: 2px solid hsl(0, 0%, 70%);
    border-width: 2px 0;
    border-radius: 0px;
}
.navMenu li:first-child a {
    border-left-width: 2px;
}
.navMenu li:last-child a {
    border-right-width: 2px;
}
.navMenu a:hover,
.navMenu a:focus-visible {
    text-decoration: underline;
    background-color: hsl(0, 0%, 90%);
}